.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  /* .header h1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
   */
  .logout-btn {
    color: white;
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .logout-btn:hover {
    background-color: #5c636b;
  }
  